<div>

  <p>Estado:</p>
   <dx-select-box
      [dataSource]="estados"
      [(value)]="estado"
      displayExpr="getDisplayValue"
      placeholder="Selecione o Estado..."
      (onSelectionChanged)="listarCidades($event)"
      [showClearButton]="true"
    ></dx-select-box>
</div>
<div>
  <p>Cidade:</p>
   <dx-select-box
      [items]="cidades"
      [(value)]="cidade"
      displayExpr="getDisplayValue"
      placeholder="Selecione a Cidade..."
      (onSelectionChanged)="getCidadeSelecionada($event)"
      [showClearButton]="true"
    ></dx-select-box>
</div>

<p><strong>Estado selecionado:</strong> {{ estado ? estado.getDisplayValue() : '' }} </p>
<p><strong>Cidade selecionada:</strong> {{ cidade ? cidade.getDisplayValue() : '' }} </p>
